@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {background-color: #212121;}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p.paragraph{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a{
    size: 100px;
}

iframe{
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.margin{
    margin-left: 24%;
    margin-right: 24%;
}

p.bottom{
    font-size: 10px;
    bottom: 0%;
    position: fixed;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 24%;
}